.App {
  text-align: center;
}

/* Estilo para el encabezado de la aplicación */
.encabezado {
  background-color: #0a1c41; 
  min-height: 90vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  color: white;
}


section {
  padding: 50px; 
  margin: 50px;
}

/* Estilo para el pie de página */
footer {
  padding: 10px; 
  background-color: #282c34; 
  color: white; 
}

/* Estilo para los contenedores de proyectos, experiencia y educación */
.project,
.experience,
.education {
  margin-bottom: 20px;
}
